@import url(//db.onlinewebfonts.com/c/f4a6fefc7bae496fff97876be7d44802?family=Citroen)
    
/* Variaveis de Cores */
$primary-color: #FFFFFF
$secondary-color: #E5E5E5
$shadow-color-header: rgba(0, 0, 0, 0.25)
$divisor-color: rgba(0, 0, 0, 0.25)
$linetop-color: #333333
$linemidle-color: #E1E1E1
$linefooter-color: #FFFFFF
$footer-color: #000000

/* Variaveis Cores dos Botões */
$botao-color-tel: #304ACB
$botao-hover-tel: #3754E2
$botao-color-whats: #2DAF38
$botao-hover-whats: #4EC859
$botao-color-interesse: #3754E2
$botao-hover-interesse: #304ACB

/* Fontes link */
$link-color: #666666
$link-color-hover: #999999 
$medidas-font-color: #3754E2
$font-title-artigo: #000000

/* Fontes */
$font-opensans: Open sans
$font-citroen: 'Citroen'
$font-price-color: #333333
$font-bottom-interesse: #FFFFFF
$font-footer: #FFFFFF