@use 'variables'

.container-artigo
    height: 12rem
    width: 100%
    background: variables.$secondary-color

    display: flex
    align-items: center
    justify-content: space-around


    &__info
        margin-top: 5rem
        margin-right: 25rem

        p
            margin-bottom: .2rem
            font-family: variables.$font-opensans
            font-weight: 400
            font-size: 12px
            color: variables.$link-color
        p a:hover
            color: variables.$link-color-hover

        h1
            font-family: variables.$font-opensans
            font-weight: 700
            font-size: 32px
    
    &__title
        margin-top: 2rem

        p
            font-family: variables.$font-opensans
            font-weight: 400
            font-size: 12px
            color: variables.$link-color
        p a:hover
            color: variables.$link-color-hover
